<!-- animate css -->
<link rel="stylesheet" href="__PUBLIC__/Charmy/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/Charmy/css/animate.min.css">
<!-- bootstrap css -->
<link rel="stylesheet" href="__PUBLIC__/Charmy/css/bootstrap.min.css">
<!-- font-awesome -->
<link rel="stylesheet" href="__PUBLIC__/Charmy/css/font-awesome.min.css">
<!-- google font -->
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>
<!-- custom css -->
<link rel="stylesheet" href="__PUBLIC__/Charmy/css/templatemo-style.css">
<link rel="stylesheet" href="__PUBLIC__/Charmy/css/default.css">
<link rel="stylesheet" href="__PUBLIC__/NovaGreenStudio/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="__PUBLIC__/NovaGreenStudio/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/NovaGreenStudio/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/Charmy/css/style.css">
<style>
    p {
        font-size: 18px;
        line-height: 25px;

        font-family: "SongFont", Arial, Helvetica, sans-serif;
    }
</style>
